body{
    background-color: #272343;
    font-family:'Roboto', sans-serif; ;
}
.heading{
    color: #bae8e8;
    font-family: 'Caveat', cursive;
}
.row{
    width:100%;
}
.timer{
    color:#fff;
    text-align: center;
    width:20rem;
    height: 20rem;
    border:5px solid #fff;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Caveat', cursive;
    font-size: 3rem;
}
#minutes , #seconds{
    font-size: 4rem;
}
.fa-play, .fa-arrow-rotate-right{
    color:#e3f6f5;
    border:2px solid transparent;
    padding:1rem;
    border-radius: 2rem;
}
.fa-play:hover, .fa-arrow-rotate-right:hover{
    color:#bae8e8;
    border:2px solid #bae8e8;
    transition: 0.3s ease;
}
.show-message{
    display: block;
    padding: 1rem 0;
    color: #272343;
    background-color: #e3f6f5;
    border-radius: 0.5rem;
    transition:0.5s ease;
}

/* pomodoro and timer  */

.border{
    border:2px dotted #bae8e8;
}

.selectTimer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    
}
.selectPomodoro, .selectBreak{
    text-decoration: none;
    font-weight: bold;
    color: #bae8e8;
    background-color: #272343;
    padding: 10px;
    border:1px solid #bae8e8;
    border-radius: 20px;
    margin: 10px;    
}
.selectPomodoro:hover,.selectBreak:hover{
    background-color: #bae8e8;
    color:#272343
}
a{
    color:white;
}
